/*  your css code here. If applicable */
#yellow {
	background:yellow;
	border: 2px solid green;
}
#red{
background:red;
	border: 2px solid black;
}
#green{
background:green;
	border: 2px solid yellow;
}